[Unit]
Description=ReticulumPi privileged control socket

[Socket]
ListenStream=/run/reticulumpi/control.sock
SocketUser=root
SocketGroup=reticulumpi
SocketMode=0660
DirectoryMode=0750
Accept=yes
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
